@model IEnumerable<Domain.Core.Education.EducationProgram>


@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

@{ 
    foreach (var t in Model) { 
        <p>@t.Title | @t.Category?.Title | @t.EducationType?.Title</p>
    }

}